[alias]
        br = branch
        cancel-merge = reset --merge ORIG_HEAD
        ci = commit
        co = checkout
       	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
       	oops = commit --amend --no-edit
        st = status -sb
        zut = commit -a --amend --no-edit
        # See http://megakemp.com/2016/08/25/git-undo/
	undo = "!f() { \\\n    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"
	please = push --force-with-lease
	it = !git init && git commit -m “root” --allow-empty
	merc = merge --no-ff
	last = describe --abbrev=0 --tags --match "v[0-9]*" origin
	prune = fetch --prune
	stash-all = stash save --include-untracked

[color]
        diff = auto
        status = auto
        branch = auto

[core]
        editor = emacsclient -nw
        excludesfile = /home/jenselme/.gitignore_global
        quotepath = off

[diff]
        mnemonicPrefix = true
        wordRegex = .

[grep]
        extendedRegexp = true

[log]
        abbrevCommit = true

[pull]
        rebase = preserve

[push]
        default = simple
        followTags = true

[user]
	name = Julien Enselme
        email = julien.enselme@centrale-marseille.fr

[i18n]
        logoutputencoding = utf8
        commitencoding = utf8
[gui]
	editor = gvim

[status]
       showUntrackedFiles = all
