[alias]
    br = branch
    cancel-merge = reset --merge ORIG_HEAD
    ci = commit
    co = checkout
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    oops = commit --amend --no-edit
    st = status -sb
    zut = commit -a --amend --no-edit
    # See http://megakemp.com/2016/08/25/git-undo/
    undo = "!f() { \\\n    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"
    # See: https://technosorcery.net/blog/2012/08/updated-git-rebase-interactive-autosquash-commit-preparation/
    fixup = !sh -c 'git commit --fixup=$1 $2' -
    fixa = !sh -c 'git commit -a --fixup=$1 $2' -
    # See: https://technosorcery.net/blog/2012/08/updated-git-rebase-interactive-autosquash-commit-preparation/
    ri = rebase --interactive --autosquash
    please = push --force-with-lease
    stp = push --force-with-lease --no-verify
    it = !git init && git commit -m “root” --allow-empty
    merc = merge --no-ff
    merf = merge --ff-only
    last = describe --abbrev=0 --tags --match "v[0-9]*" origin
    prune = fetch --prune
    stash-all = stash save --include-untracked
    wontchange = update-index --assume-unchanged
    willchange = update-index --no-assume-unchanged

[color]
        diff = auto
        status = auto
        branch = auto

[core]
	attributesfile = ~/.gitattributes
        editor = micro
        excludesfile = /home/jenselme/.gitignore_global
        quotepath = off

[diff]
        mnemonicPrefix = true
        wordRegex = .

[grep]
        extendedRegexp = true

[log]
        abbrevCommit = true

[pull]
        rebase = merges

[push]
        default = simple
        followTags = true

[user]
    name = Julien Enselme
        email = jenselme@jujens.eu

[i18n]
        logoutputencoding = utf8
        commitencoding = utf8

[gui]
    editor = gedit

[status]
       showUntrackedFiles = all

[include]
	path = ~/.gitconfig.local

[cola]
	spellcheck = true
	expandtab = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
