[user]
	name = Julien Enselme
	email = julien.enselme@centrale-marseille.fr
[push]
	default = simple
[core]
	editor = emacsclient -nw
	excludesfile = /home/jenselme/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	ci = commit
	co = checkout
	st = status -sb
	br = branch
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
	oops = commit --amend --no-edit
[pull]
	rebase = preserve
[diff]
	mnemonicPrefix = true
	wordRegex = .
[grep]
	extendedRegexp = true
[log]
	abbrevCommit = true
